<ion-header class="ion-no-border" [translucent]="true" >
  <ion-toolbar color="dak">
    <ion-title color="light">
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-list>
    <ion-item-sliding *ngFor="let lista of listas; let i = index">
      <ion-item detail color="dark"
                (click)="listaSeleccionada(lista)">
        <ion-label>
          {{lista.titulo}}
        </ion-label>
        <ion-note slot="end" color="tertiary">
          {{lista.items.length}} items
        </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="borrar(i)" color="danger">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="tertiary" (click)="agregarLista()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
